
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.titulo{
    font-size: 100px;
    opacity: 20%;
    font-family: 'Courier New', Courier, monospace;
}
.home{
    background-color: bisque;
    width: 50rem;
    height: 30rem;
    margin: 0 auto;
}
.formulario{
    background-color: blanchedalmond;
    width: 35rem;
    height: 18rem;
    margin: 0 auto;
}
.inp{
    width: 100%;
    height: 3.3rem;
    font-size: 3rem;
    padding-left: 4rem;
    
    
}
.btn{
    border: black 3px solid;
    margin-top: 8px;
    
    color: black;
    background: grey;
}

.pauno, .pados{
    border: 2px grey solid;
    height: 3rem;
    margin: 0 auto;
    width: 35rem;
    text-align: left;
    padding-left: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    padding-bottom: 4rem;
    background-color: bisque;
}
